:root {
  --color-white: #ffffff;
  --color-dark-gray-1: #252a30;
  --color-dark-gray-2: #252a30;
  --color-black: #000000;
  --color-green: #79c000;
  --color-light-gray-1: #efefef;
  --color-light-gray-2: #e0e0e0;
  --color-medium-gray: #adb2b5;
  --color-dark-gray-3: #333f48;
  --color-blue: #0056fe;
  --color-black-opacity: #0000004d;
  --color-gray: #8a8a8a;
}
$mobile-width: 510px;
$tablet-width: 768px;
